:host {
  overflow: hidden;
  height: 100%;
}


header {
  text-align: center;
  line-height: 2rem;

  h1 {
    color:beige;
    font-size: 30px;
  }

  p {
    color:beige;
  
  }
}

div {
  display: flex;
  justify-content: center;


  button {
    margin: 20px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    background-color: beige;
    font-weight: bold;
    outline: none;
  }
}


section {
  height: 100%;
}
